

.display {
    display: flex;
    flex-direction: column;
    height: 90px;
    max-width: 330px;
    padding: 10px;
    background-color: var(--display-color);
    border-radius: 8px;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.display * {
    all: unset;
    width: 100%;
    text-align: end;
}

.currentCalc {
    color: var(--current-calc-color);
    font-size: 22px;
    font-weight: 300;
}

.currentResult{
    color: var(--result-color);
    font-size: 38px;
    font-weight: 600;
}
