
.header {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 20px;
    color: white;
    padding-bottom: 8px;
}

.themeWrapper {
    display: flex;
    gap: 4px;
    }

.themeSelector {
    display: flex;
    }

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
